// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #E25641;
}

.new-project {
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}